params {
    fasta_seqs = false
    skip_qc = false
}

process {
    publish_dir = "${params.publish_dir}"
        withLabel: star {
            cpus = 2
        }
	withLabel: big_cpus {
	    cpus = 32
	}
}

singularity {
    enabled = true
    cacheDir = "${SCRATCHDIR}/singularity/"
    autoMounts = true
}

report {
    enabled = true
    file    = "${process.publish_dir}/summary/report.html"
    overwrite = true
}

timeline{
    enabled = true
    file    = "${process.publish_dir}/summary/timeline.html"
    overwrite = true
}
